<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">
    <script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
</head>
<body>
<div class="container mt-5">
    <div class="text-center">
        <h1 CLASS>Electronic shop items</h1>
    </div>

<div class="row mt-3">
    <div class="col-12">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addTask">
            + Добавить задание
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Добавление задания</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/add-item" method="post">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Наименование</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Наименование:" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Описание</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="Описание: " name="description"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Цена</label>
                                <input type="number" class="form-control" id="exampleFormControlInput12" name="price">
                            </div>
                            <div>
                                <button class="btn btn-success" >add</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="row">
            <div class="col-sm-4 mt-3"th:each=" ite : ${tovary}">
                <div class="card" style="width: 18rem;" >
                    <h4 class="text-center bg-light" th:text="${ite.name}"></h4>
                    <div class="card-body">
                        <h5 class="card-title text-center"th:text="${ite.description}"></h5>
                        <p class="card-text text-center"th:text="${ite.price}"></p>
                        <a th:href="@{'/details/'+${ite.id}}" class="btn btn-primary w-100 d-block">Details</a>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>